<div class="page">
  <div class="horizontal-align max-height">
    <div class="vertical-align">
      <mat-form-field style="color: white;">
        <mat-label style="color: white;">
          Select a Variant...
        </mat-label>

        <mat-select>
          <mat-option
            [value]="gameMode.id"
            *ngFor="let gameMode of gameModeDescriptions"
            (click)="setGamemode(gameMode.id)"
          >
            {{ gameMode.displayName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        class="slidey-button"
        (click)="newGame()"
        [disabled]="gamemodeID == null"
      >
        Create Game
      </button>
    </div>
  </div>
</div>
