@use "../scss/vars";

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .card {
    border-radius: 0.6rem;
    // top, right, bottom, left
    padding: 0 1rem 1rem 1rem;
    width: 18rem;
    margin: 3rem;
    background-color: vars.$backgroundColor;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .name,
  .description {
    color: vars.$textColor;
    text-align: center;
    margin-bottom: 1.3rem;
  }

  .buttons {
    display: flex;
    justify-content: center;
  }
}
