<div class="page">
  <div class="horizontal-align max-height">
    <div class="vertical-align">
      <mat-form-field style="color: white;">
        <mat-label style="color: white;">
          Select a Variant...
        </mat-label>

        <mat-select>
          <mat-option>
            No
          </mat-option>
          <mat-option>
            U
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        class="slidey-button"
        (click)="newGame()"
      >
        Create Game
      </button>
    </div>
  </div>
</div>
