<mat-toolbar color="primary">
  <button mat-button style="font-size: 24px" (click)="home()">
    <img src="assets/chess_pieces/White_Giraffe.svg" />

    Choss
  </button>

  <span class="fill-remaining-space"></span>

  <button mat-button (click)="muteClicks()">
    <mat-icon *ngIf="playClicks"> alarm_add </mat-icon>

    <mat-icon *ngIf="!playClicks"> alarm_off </mat-icon>
  </button>

  <button mat-button (click)="toggleMusic()">
    <mat-icon *ngIf="isPlaying"> volume_up </mat-icon>

    <mat-icon *ngIf="!isPlaying"> volume_off </mat-icon>
  </button>

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon> menu </mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="resetBoard()">
    <mat-icon> refresh </mat-icon>
    <span>Reset Board</span>
  </button>
</mat-menu>
