<mat-toolbar color="primary">
  <button mat-flat-button color="primary" style="font-size: 24px;">
    <img src="assets/chess_pieces/White_Giraffe.svg" />

    Choss
  </button>

  <span class="fill-remaining-space"></span>

  <button mat-flat-button color="primary" (click)="toggleMusic()">
    <mat-icon *ngIf="isPlaying">
      volume_up
    </mat-icon>

    <mat-icon *ngIf="!isPlaying">
      volume_off
    </mat-icon>
  </button>

  <button mat-flat-button [matMenuTriggerFor]="menu" color="primary">
    <mat-icon>
      menu
    </mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="resetBoard()">
    <mat-icon>
      refresh
    </mat-icon>
    <span>Reset Board</span>
  </button>
</mat-menu>
