.timer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.time {
  padding: 10px;
  font-size: 23px;
  color: white;
}

.ticking {
  background-color: darkseagreen;
}

.monospace {
  font-family: "Roboto Mono", monospace;
}
