.board-and-timer {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

@media only screen and (max-width: 900px) {
  .board-and-timer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }

  .fake-timer {
    order: 3;
  }

  #board {
    order: 2;
  }

  #timer {
    padding-top: 1rem;
    order: 1;
  }
}

.label {
  position: relative;
  bottom: 0rem;
  color: white;
  float: left;
}
