.board-and-timer {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.horizontal-center-game {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.label {
  position: relative;
  bottom: 0px;
  color: white;
  float: left;
}
