@import "../mixins.scss";

.board-and-timer {
  display: flex;
  justify-content: space-around;
  height: 100%;

  @include mobile() {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }
}

@include mobile() {
  .fake-timer {
    order: 3;
  }

  #board {
    order: 2;
  }

  #timer {
    padding-top: 1rem;
    order: 1;
  }
}

.label {
  position: relative;
  bottom: 0rem;
  color: white;
  float: left;
}
