<div mat-dialog-content>
  <div class="centered">
    <h3>Paste PGN here and select side.</h3>
    <mat-form-field style="width: 100%" appearance="fill">
      <mat-label>PGN</mat-label>
      <textarea
        [(ngModel)]="inputPgn"
        matInput
        placeholder="[Carlsen vs Naroditsky ...]"
      ></textarea>
    </mat-form-field>
  </div>
</div>
<hr />
<div mat-dialog-actions>
  <div class="centered">
    <button mat-raised-button color="primary" (click)="import('w')">
      Import as White
    </button>
    <button mat-raised-button color="accent" (click)="import('b')">
      Import as Black
    </button>
  </div>
</div>
