.chess-game {
  --size: min(calc(90vh - 12rem), calc(90vw - 12rem));
  width: (var(--size));
  height: (var(--size));
}

@media only screen and (max-width: 900px) {
  .chess-game {
    --size: min(calc(90vh - 12rem), 100vw);
    width: (var(--size));
    height: (var(--size));
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

.chess-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.chess-tile {
  color: #303030;
  flex: 1 0 auto;
  height: auto;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  text-align: center;
}

.chess-tile:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.our-turn {
  box-shadow: inset 0 -1.2rem 0rem -0.3rem #909090;
}

.we-win {
  box-shadow: inset 0 -1.2rem 0rem -0.3rem goldenrod;
}

.their-turn {
  box-shadow: inset 0 1.2rem 0rem -0.3rem #909090;
}

.they-win {
  box-shadow: inset 0 1.2rem 0rem -0.3rem goldenrod;
}
