.chess-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.chess-tile {
  cursor: pointer;
  color: #303030;
  flex: 1 0 auto;
  height: auto;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  text-align: center;
}

.chess-tile:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.chess-game {
  height: min(calc(100vh - 4rem), calc(100vw - 250px));
  width: min(calc(100vh - 4rem), calc(100vw - 250px));

  box-shadow: 0px 0px 5px 10px #555555;
}

.horizontal-center-game {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.vertical-center-game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.chess-image {
  width: 90%;
  height: 90%;
  position: relative;
  top: 3%;
}

.label {
  position: relative;
  bottom: 0px;
  color: white;
  float: left;
}
