.chess-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.chess-tile {
  cursor: pointer;
  color: #303030;
  flex: 1 0 auto;
  height: auto;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  text-align: center;
}

.chess-tile:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.timer-width {
  width: 200px;
}

.board-and-timer {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.timer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.time {
  padding: 20px;
  font-size: 23px;
}

.monospace {
  font-family: "Roboto Mono", monospace;
}

.chess-game {
  height: min(calc(90vh - 4rem), calc(90vw - 250px));
  width: min(calc(90vh - 4rem), calc(90vw - 250px));
}

.our-turn {
  box-shadow: inset 0 -20px 0px -6px #909090;
}

.time {
  color: white;
}

.we-win {
  box-shadow: inset 0 -20px 0px -6px goldenrod;
}

.their-turn {
  box-shadow: inset 0 20px 0px -6px #909090;
}

.they-win {
  box-shadow: inset 0 20px 0px -6px goldenrod;
}

.horizontal-center-game {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.vertical-center-game {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.chess-image {
  width: 90%;
  height: 90%;
  position: relative;
  top: 3%;
}

.label {
  position: relative;
  bottom: 0px;
  color: white;
  float: left;
}
