@use "../scss/mixins";
@use "../scss/vars";

.chess-game {
  $size: min(calc(90vh - 12rem), calc(90vw - 12rem));

  @include mixins.mobile() {
    $size: min(calc(90vh - 12rem), 100vw);
  }

  padding-bottom: 1rem;
  padding-top: 1rem;
  width: $size;
  height: $size;
}

.chess-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.chess-tile {
  flex: 1 0 auto;
  height: auto;
  user-select: none;
}

.chess-tile:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.our-turn {
  box-shadow: inset 0 -1.2rem 0rem -0.3rem vars.$accentColor;
}

.we-win {
  box-shadow: inset 0 -1.2rem 0rem -0.3rem vars.$winnerColor;
}

.their-turn {
  box-shadow: inset 0 1.2rem 0rem -0.3rem vars.$accentColor;
}

.they-win {
  box-shadow: inset 0 1.2rem 0rem -0.3rem vars.$winnerColor;
}
