<div *ngIf="Board" class="center-both">
  <div
    class="chess-game"
    [ngClass]="{
      'our-turn': playerService.isOurTurn(),
      'their-turn': playerService.isTheirTurn(),
      'we-win': playerService.weWin(),
      'they-win': playerService.theyWin()
    }"
  >
    <ng-container *ngIf="rows">
      <div *ngFor="let row of rows; let y = index" class="chess-row">
        <div
          mwlDroppable
          (drop)="
            mouseService.mouseUp(playerService.getX(x), playerService.getY(y))
          "
          [dragOverClass]="'drag-over'"
          [style.background]="
            tileService.getColor(playerService.getX(x), playerService.getY(y))
          "
          *ngFor="let row of rows; let x = index"
          class="chess-tile"
        >
          <choss-piece [x]="x" [y]="y"></choss-piece>
        </div>
      </div>
    </ng-container>
  </div>
</div>
