.relative {
  position: relative;
}

.chess-image,
.hacky-chess-image {
  position: absolute;
  width: 90%;
  height: 90%;
}

.chess-image {
  z-index: 1;
}

.valid-chess-piece:hover {
  cursor: grab;
}

.valid-chess-piece:active,
.hacky-chess-image:hover {
  cursor: grabbing !important;
}

.hacky-chess-image {
  opacity: 0.3;
  pointer-events: none;
  z-index: 2;
}

.ghost {
  width: 0px;
  height: 0px;
  position: relative;
  margin: 0px;
  padding: 0px;
}
